<%= content_for(:title, "#{@section.title} | LHTP") %>

<h1 class="page-header">
  <p>
    <%= @section.title %>:
  </p>
  <div class="btn-group btn-group-sm" role="group">
    <%= link_to "Back to Sections", sections_path, class: "btn btn-info" %>
    <%= link_to "Edit #{@section.title}", edit_section_path(@section), class: "btn btn-warning" %>
    <%= link_to "Destroy #{@section.title}", section_path(@section), class: "btn btn-danger",
                                  data: {confirm: "Are you sure?",
                                          method: "delete"}%>

  </div>
</h1>

<% if @section.lessons.any? %>
  <h3>Here are the lessons:</h3>
  <ul>
    <% @section.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.title, lesson_path(lesson) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no lessons yet :(</h3>
<% end %>
<h4 class="text-center">&#169;2015, <span style="font-weight: bolder; font-size:1.5em; text-decoration: underline;">®Subcodus™ </span></h4>
