<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/">LHTP.com</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Add Section", new_section_path %></li>
      <% if Section.all.any? %>
        <li><%= link_to "Add Lesson", new_lesson_path %></li>
      <% end %>
      <li><%= link_to "View All Lessons", lessons_path %></li>
    </ul>

  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container">
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <%= yield %>

</div>
  <div id="fixme">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <h4 class="text-center">&#169;2015, <span style="font-weight: bolder; font-size:1.5em; text-decoration: underline;">®Subcodus™ </span></h4>
      </div>
    </nav>
  </div>
</body>
</html>
